 /* header section responsiveness */
 @media (min-width:1200px) {
     .main {
         max-width: 1300px;
         margin: 0 auto;
     }
 }

 @media (max-width:900px) {

     .h-loc,
     .h-ro {
         display: none;
     }

     .category-menu {
         display: none;
     }

     .hero-container {
         max-height: 35rem;
     }

     .logo .menu-btn {
         display: block;
     }
 }

 @media (max-width:700px) {
     .navbar {
         position: relative;
         align-items: start;
         height: 12.5rem;
     }

     .search-bar {
         position: absolute;
         bottom: 1rem;
         left: 0;
         width: 100%;
         padding: 0rem 2rem;
     }

     .nav-right {
         gap: 0rem;
     }

     .screen-login {
         display: none;
     }

     .mobile-login {
         display: block !important;
         display: flex !important;
     }

     .logo-ctr {
         width: 10rem;
         height: 6rem;
     }

     .none {
         display: none;
     }

     .more-notification-card {
         width: 18rem;
         right: -1.5rem;
     }

     .more-notification-card::before {
         right: 2rem;
     }
 }

 /* main section responsiveness */

 @media (max-width:980px) {
     .main {
         padding: 0rem 1rem;
     }

     /* Offer section product */
     .offers-ctr {
         flex-direction: column;
         height: auto;
     }

     .offer-title {
         width: 100%;
         text-align: center;
         border-bottom: 0.1rem solid #ddd;
     }

     .offer-timer {
         justify-content: center;
     }

     .ofr-product {
         height: 20rem;
         padding: 1rem;
     }

     .ofr-product h3 {
         margin-top: 1rem;
     }

     /* Home product section */
     .h-o-product {
         flex-direction: column;
         height: auto;
     }

     .prd-title {
         width: 100%;
         height: 22rem;
         object-fit: cover;
         object-position: center;
         border-radius: 0.5rem 0.5rem 0 0;
     }

     .products-ctr {
         grid-template-columns: repeat(2, 1fr);
     }

     .prd-card {
         height: 12rem;
         padding: 1.5rem 2rem;
     }

     .prd-card .prd-img {
         width: 30%;
         height: 100%;
         left: 0;
         top: 0;
         padding: 1rem;
     }

     .prd-card h3 {
         margin-left: 10rem;
     }

     .prd-card p {
         margin-left: 10rem;
     }
 }

 /* /////////////////////////////// */
 @media (max-width:768px) {
     .hero-container {
         max-height: 25rem;
     }

     .offer-title {
         max-height: 18rem;
         padding: 1rem;
     }

     .offer-title h2 {
         margin-bottom: 1.5rem;
     }

     .offer-timer {
         margin-top: 1rem;
     }
 }

 /* //////////////////////////////////////// */
 @media (max-width:520px) {
     .hero-container {
         max-height: 20rem;
     }

     .offer-title h2 {
         font-size: 2rem;
         margin-bottom: 1rem;
     }

     .offer-timer {
         margin-top: 1rem;
     }

     .offer-title span {
         width: 4rem;
         height: 5rem;
     }

     .offer-title span h3,
     p {
         font-size: 1.3rem;
     }

     .ofr-product {
         max-height: 15rem;
         max-width: 15rem;
     }

     .ofr-product h3 {
         font-size: 1.3rem;
     }

     .h-o-product {
         margin-top: 1.5rem;
     }

     .prd-title {
         height: 15rem;
     }

     .products-ctr {
         grid-template-columns: repeat(1, 1fr);
     }

     .prd-card {
         height: 8rem;
         padding: 1rem;
     }

     .prd-card .prd-img {
         padding: 0.5rem;
     }

     .prd-card h3 {
         margin-bottom: 0.5rem;
     }

     .prd-card p {
         font-size: 1.2rem;
     }

     .products-ctr .remove {
         display: none;
     }
 }

 /* ///////////////////////////// */

 /* Footer Section  */

 @media (max-width:1000px) {
     .footer-services {
         grid-template-columns: repeat(2, 1fr);

     }
 }

 @media (max-width:800px) {
     .footer-ctr {
         flex-wrap: wrap;
         gap: 2rem;
     }

     footer {
         padding: 2rem 1rem;
     }
 }

 @media (max-width:480px) {
     .footer-services {
         grid-template-columns: repeat(1, 1fr);
     }

     .service {
         border-right: none;
         border-bottom: 0.1rem solid #dddddd5d;
     }
 }

 /* ////////// Products Page Responsiveness ///////////*/
@media (min-width:1200px) {
    .details-main-ctr{
        max-width: 1200px;
        margin: 0 auto;
    }
}
 @media (min-width:1024px) {
     .product-detail-section {
         display: flex;
     }

     .features {
         max-width: 20rem;
         margin: 0rem;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     }

     .feature-box {
         padding: 1rem !important;
     }
 }

 @media (max-width:1024px) {
     .features {
         border-top: 0.30rem solid black;
         border-bottom: 0.30rem solid black;
         margin-top: 2rem;
     }
 }

 @media (max-width:700px) {
     .product-detail-container {
         flex-direction: column;
     }

     .product-images-ctr {
         display: flex;
         flex-direction: row-reverse;
         width: auto !important;
         height: auto;
     }

     .p-main-img img {
         border-radius: 1rem;
     }

     .p-other-img {
         flex-direction: column;
         height: auto !important;
         width: auto !important;
         margin: auto;
         display: block;
     }

     .p-other-img img {
         width: 6rem;
         height: 6rem;
     }
 }

 @media (max-width:470px) {
     .product-images-ctr {
         flex-direction: column;
     }

     .p-main-img {
         max-height: 30rem;
     }

     .p-other-img {
         flex-direction: row;
         max-width: 100%;
     }

     .p-other-img img {
         width: 5rem;
         height: 5rem;
     }
 }


 /* ////////////////////// */