 /*======== GLOBAL STYLES =======*/
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 body {
     background-color: #e8e8e8;
     color: #333;
 }

 html {
     font-size: 62.5%;
     scrollbar-width: thin;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 /*========= HEADER =========*/

 header {
     background-color: #131921;
     color: white;
 }

 .navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px 20px;
     gap: 20px;
 }

 .logo {
     display: flex;
     align-items: center;
 }

 .logo-ctr {
     width: 13rem;
     height: 7rem;
 }

 .logo .menu-btn i {
     font-size: 3rem;
     cursor: pointer;
 }

 .logo .menu-btn {
     display: none;
 }

 .logo img {
     width: 100%;
     height: 100%;
 }

 .delivery-location {
     display: flex;
     align-items: center;
     font-size: 13px;
     gap: 5px;
     padding: 0.5rem;
 }

 .delivery-location:hover {
     border: 0.1rem solid white;
 }

 .delivery-location i {
     font-size: 18px;
     color: #febd69;
 }

 .location-text div {
     color: #ccc;
     font-size: 11px;
 }

 .search-bar {
     display: flex;
     flex: 1;
     max-width: 700px;
 }

 .search-bar input {
     width: 100%;
     padding: 10px;
     border: none;
     border-radius: 4px 0 0 4px;
     outline: none;
 }

 .search-btn {
     background-color: #febd69;
     border: none;
     padding: 0 15px;
     border-radius: 0 4px 4px 0;
     cursor: pointer;
     font-size: 16px;
 }

 .search-btn i {
     font-size: 2rem;
     font-weight: 600;
 }

 .nav-right {
     display: flex;
     align-items: center;
     gap: 20px;
     font-size: 13px;
 }

 .nav-right .div {
     padding: 0.5rem;
     cursor: pointer;
 }

 .nav-right .div:hover {
     border: 0.1rem solid white;
 }

 .nav-right .sub-text {
     font-size: 11px;
     color: #ccc;
 }

 .cart-btn {
     display: flex;
     align-items: end;
     gap: 2px;
     font-size: 1.5rem;
     position: relative;
     font-weight: 300;
 }

 .cart-btn i {
     font-size: 2.5rem;
 }

 .cart-count {
     background-color: #febd69;
     color: #131921;
     font-weight: bold;
     padding: 1px 6px;
     border-radius: 50%;
     font-size: 12px;
     position: absolute;
     top: -10px;
     left: 10px;
 }

 /* login dropdown section */

 .login-ctr {
     position: relative;
     display: flex;
 }

 .login-ctr:hover .login-notification-card {
     display: block;
 }

 .login-notification-card {
     width: 30rem;
     background: #fff;
     border-radius: 18px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
     position: absolute;
     right: -3rem;
     top: 5rem;
     z-index: 1001;
     display: none;
 }

 .login-notification-card::before {
     content: "";
     position: absolute;
     top: -10px;
     right: 30px;
     width: 20px;
     height: 20px;
     background: #fff;
     transform: rotate(45deg);
     z-index: -1;
 }

 .card-header {
     padding: 12px;
     border-bottom: 1px solid #e5e5e5;
 }

 .btn {
     width: 100%;
     border: none;
     padding: 14px;
     border-radius: 8px;
     font-size: 1.6rem;
     font-weight: 600;
     cursor: pointer;
 }

 .login {
     background: #e74c3c;
     color: #fff;
     margin-bottom: 0.5rem;
 }

 .register {
     background: #111;
     color: #fff;
 }

 .login-menu {
     list-style: none;
     padding: 10px 0;
 }

 .login-menu li {
     display: flex;
     align-items: center;
     gap: 14px;
     padding: 1rem 1.5rem;
     font-size: 1.6rem;
     color: #222;
     cursor: pointer;
     transition: .3s;
 }

 .login-menu li:hover {
     background: #cecdcd;
 }

 .login-menu li span {
     width: 22px;
     text-align: center;
 }


 /*=========== SUB COTEGORY NAVIGATION ==========*/
 .sub-nav {
     background-color: #232f3e;
     display: flex;
     align-items: center;
     padding: 0px 20px;
     gap: 15px;
     font-size: 14px;
     height: 4rem;
 }

 .sub-nav a {
     color: #ddd;
     padding: 0.5rem;
     height: 3rem;
     white-space: nowrap;
 }

 .sub-nav a:hover {
     color: white;
     border: 0.1rem solid white;
 }

 /* more dropdown card */
 .more-ctr {
     display: flex;
     position: relative;
 }

 .more-ctr:hover .more-notification-card {
     display: block;
 }

 .more-notification-card {
     width: 20rem;
     background: #fff;
     border-radius: 18px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, .15);
     position: absolute;
     z-index: 1001;
     top: 3.3rem;
     right: -2.5rem;
     display: none;
 }

 /* Arrow */
 .more-notification-card::before {
     content: "";
     position: absolute;
     top: -0.5rem;
     right: 30px;
     width: 20px;
     height: 20px;
     background: #fff;
     transform: rotate(45deg);
     z-index: -1;
 }

 .more-menu {
     list-style: none;
     padding: 10px 0;
 }

 .more-menu li {
     display: flex;
     align-items: center;
     gap: 14px;
     padding: 0.5rem 1.5rem;
     font-size: 1.5rem;
     color: #222;
     cursor: pointer;
     transition: .3s;
 }

 .more-menu li:hover {
     background: #cecdcd;
 }

 /*========= Sidebar Design ========*/

 .sidebar {
     width: 30rem;
     height: 100vh;
     position: absolute;
     top: 0;
     left: -100%;
     background-color: #fff;
     color: black;
     overflow-y: auto;
     scrollbar-width: none;
     z-index: 10001;
     transition: 0.5s ease-in-out;
 }

 .sidebar.active {
     left: 0;
 }

 .sidebar .close-icon {
     cursor: pointer;
 }

 .sidebar-header {
     background-color: #131921;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 1rem;
     font-size: 2rem;
 }

 .sidebar-logo {
     width: 8rem;
     height: 5rem;
 }

 .sidebar-header img {
     width: 100%;
     height: 100%;
 }

 .sidebar h2 {
     margin: 1rem;
     font-size: 2rem;
 }

 .sidebar li {
     width: 100%;
     padding: 1rem;
     font-size: 1.5rem;
     display: flex;
     gap: 1.5rem;
     align-items: center;
 }

 .sidebar li:hover {
     background-color: #cecdcd;
 }

 .items span {
     display: block;
     width: 2.5rem;
     height: 2.5rem;
     background-color: #cecdcd;
     text-align: center;
     /* align-content: center; */
     border-radius: 50%;
 }

 .contant {
     padding: 0rem 0rem 1rem 0rem;
     border-bottom: 0.3rem solid #cecdcd;
 }


 /* Sidebar Filter design */

 .filter {
     padding: 1rem;
 }

 .sidebar-filter {
     width: 100%;
     background: #ffffff;
     border-radius: 16px;
     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
     border: 1px solid #f1f2f6;
 }

 /* Filter Header */
 .filter-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 15px;
 }

 .clear-btn {
     background: none;
     border: none;
     color: #ff4757;
     font-size: 1.5rem;
     font-weight: 600;
     cursor: pointer;
     transition: color 0.2s;
     margin-right: 1rem;
 }

 .clear-btn:hover {
     text-decoration: underline;
 }

 .divider {
     border: 0;
     height: 1px;
     background: #f1f2f6;
     margin: 1rem 0;
 }

 /* Filter price range*/
 .filter-section {
     padding: 0rem 1rem;
 }

 .filter-section h4 {
     margin: 0 0 15px 0;
     font-size: 1.5rem;
     color: #2f3542;
     font-weight: 600;
     padding: 0rem 1rem;
 }

 /* Price Slider Customization */
 .price-slider-container {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .slider {
     appearance: none;
     width: 100%;
     height: 0.5rem;
     border-radius: 5px;
     background: #dfe4ea;
     outline: none;
 }

 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 18px;
     height: 18px;
     border-radius: 50%;
     background: black;
     cursor: pointer;
     box-shadow: 0 2px 6px rgba(30, 144, 255, 0.3);
     transition: transform 0.1s;
 }

 .slider::-webkit-slider-thumb:hover {
     transform: scale(1.2);
 }

 .price-values {
     display: flex;
     justify-content: space-between;
     font-size: 1.2rem;
     color: #29292a;
     font-weight: 500;
 }

 .price-values span {
     width: 5rem;
     height: 5rem;
     padding: 1rem;
 }

 /* Filter Color Circles Customization */
 .color-options {
     display: flex;
     gap: 12px;
     flex-wrap: wrap;
 }

 .color-checkbox {
     position: relative;
     cursor: pointer;
     width: 28px;
     height: 28px;
     display: inline-block;
 }

 .color-checkbox input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
 }

 .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 28px;
     width: 28px;
     background-color: var(--color-bg);
     border-radius: 50%;
     transition: all 0.2s ease;
     border: 2px solid transparent;
 }

 /* Ofter Color Chicked  */
 .color-checkbox input:checked~.checkmark {
     transform: scale(1.1);
     border-color: #ffffff;
     box-shadow: 0 0 0 2px #2f3542;
 }

 /* Rating Stars Customization */
 .rating-options {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .rating-radio {
     display: flex;
     align-items: center;
     cursor: pointer;
     font-size: 1.5rem;
 }

 .rating-radio input {
     margin-right: 10px;
     accent-color: #1e90ff;
     /* Modern Radio Button Color */
     cursor: pointer;
 }

 .stars {
     display: block;
     width: 100%;
     color: #ffa502;
     /* Golden Star Color */
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 2px;
 }

 .rating-text {
     color: #28292a;
     margin-left: 80px;
     font-size: 1.2rem;
 }

 /* Apply Filters Button */
 .apply-btn {
     width: 100%;
     background: #1e90ff;
     color: white;
     border: none;
     padding: 12px;
     border-radius: 10px;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     font-size: 1.5rem;
     cursor: pointer;
     margin-top: 15px;
     transition: background 0.2s, transform 0.1s;
 }

 .apply-btn:hover {
     background: #0077e6;
 }

 .apply-btn:active {
     transform: scale(0.98);
 }

 /*========= Main Section ==========*/

 .main {
     padding: 0rem 2rem;
 }

 .hero-container {
     height: 35rem;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 1rem;
     gap: 1rem;
 }

 /* filter section design */
 .category-menu {
     min-width: 25rem;
     height: 100%;
     background: #fff;
     padding: 1rem;
     border-radius: 10px;
     border: 1px solid #eee;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
     ;
     white-space: nowrap;
     position: relative;
 }

 .item {
     display: flex;
     align-items: center;
     gap: 12px;
     padding: 1rem 1rem;
     border-radius: 8px;
     cursor: pointer;
     transition: .3s;
     color: #333;
 }

 .item:hover {
     background: #f3f3f3;
 }

 .item p {
     font-size: 15px;
 }

 .more {
     justify-content: flex-start;
 }

 .arrow {
     margin-left: auto;
     font-size: 18px;
     color: #666;
 }

 /* more category dropdown */

 .more-category {
     background: #fff;
     min-width: 25rem;
     padding: 1rem;
     position: absolute;
     left: 0;
     border-radius: 8px;
     display: none;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 3px 1px;
     ;
     z-index: 1001;
 }

 .more-category.show {
     display: block;
 }

 /* hero section slider */

 .swiper {
     flex: 1;
     height: 100%;
     border-radius: 1rem;
     overflow: hidden;
 }

 .swiper-slide img {
     width: 100%;
     height: 100%;
 }

 /*======= Offer Crds Section =========*/

 .offers-ctr {
     background-color: #fff;
     height: 25rem;
     margin-top: 1rem;
     border-radius: 0.5rem;
     display: flex;
     position: relative;
 }

 .offer-title {
     padding: 2rem;
     width: 25rem;
     border-right: 0.1rem solid #DDD;
 }

 .offer-title h2 {
     font-size: 2.5rem;
     margin-bottom: 2rem;
 }

 .offer-title p {
     font-size: 1.5rem;
 }

 .offer-timer {
     display: flex;
     gap: 1rem;
     margin-top: 2rem;

 }

 .offer-timer span {
     width: 5rem;
     height: 6rem;
     background: linear-gradient(to top, #ffffffc7, #ffffff00, #ffffff00), #232f3e;
     color: #fff;
     border-radius: 0.5rem;
     text-align: center;
     padding: 0.5rem 0rem;
 }

 .offer-timer span h3 {
     font-size: 1.6rem;
 }

 .offer-products {
     display: flex;
     flex: 1;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     overflow-x: auto;
     scroll-behavior: smooth;
     scrollbar-width: thin;
 }

 .ofr-product {
     height: 100%;
     padding: 0rem 1rem;
     border-right: 0.1rem solid #ddd;
     white-space: nowrap;
 }

 .ofr-product .p-img {
     width: 100%;
     height: 60%;
     white-space: nowrap;
 }

 .ofr-product .p-img img {
     width: 100%;
     height: 100%;
 }

 .ofr-product h3 {
     font-size: 2rem;
     margin-top: 2rem;
     text-align: center;
 }

 .ofr-product span {
     width: 4rem;
     height: 2rem;
     border-radius: 2rem;
     background-color: rgba(255, 0, 0, 0.238);
     text-align: center;
     margin: auto;
     display: block;
     align-content: center;
     font-weight: 600;
     color: red;
     font-size: 1.3rem;
     margin-top: 1rem;
 }

 /*======= Home And outdoor product =========*/

 .h-o-product {
     display: flex;
     height: 30rem;
     margin-top: 1.5rem;
     border-radius: 0.5rem;
     background-color: #fff;
 }

 .prd-title {
     height: 100%;
     width: 25rem;
     overflow: hidden;
     border-radius: 0.5rem 0 0 0.5rem;
 }

 .prd-title img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: center;
 }

 .products-ctr {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     flex: 1;
 }

 .prd-card {
     padding: 1rem;
     position: relative;
     border: 0.1rem solid #ddd;
 }

 .prd-card h3 {
     font-size: 1.6rem;
     margin-bottom: 1rem;
 }

 .prd-card p {
     font-size: 1.4rem;
     font-weight: 500;
     opacity: 0.8;
 }

 .prd-card .prd-img {
     width: 60%;
     height: 70%;
     position: absolute;
     bottom: 1rem;
     right: 1rem;
 }

 .prd-img img {
     height: 100%;
 }

 /*=================  Main Products Cord Design =================*/

 .product-container {
     margin-top: 1.5rem;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
     gap: 0.8rem;
 }

 .product-card {
     display: block;
     background-color: #fff;
     text-decoration: none;
     box-sizing: border-box;
     border-radius: 1rem;
     overflow: hidden;
 }

 .main-p-img {
     width: 100%;
     height: 16rem;
     position: relative;
     text-align: center;
 }

 .main-p-img img {
     width: 100%;
     height: 100%;
 }

 .product-contant {
     padding: 1rem;
 }

 .p-name h2 {
     font-size: 1.8rem;
 }

 .p-rating {
     font-size: 1.3rem;
     margin-top: 0.5rem;
 }

 .p-rating .rating {
     color: #f39c12;
 }

 .p-rating .available-stock {
     letter-spacing: -0.05rem;
     margin-left: 0.5rem;
 }

 .p-price .new-price {
     font-size: 1.8rem;
     font-weight: 700;
     color: #667eea;
     margin-top: 0.5rem;
 }

 .p-price .old-price {
     font-size: 1.3rem;
     text-decoration: line-through;
     color: red;
 }

 .old-p .discount {
     color: rgb(204, 148, 7);
     font-size: 1.3rem;
     margin-left: 3rem;
 }

 /*==============  Footer Section design  ===============*/

 footer {
     width: 100%;
     padding: 3rem 4rem;
     margin-top: 2rem;
     background-color: #131921;
     color: #ddd;
 }

 .footer-ctr {
     display: flex;
     justify-content: center;
     justify-content: space-between;
 }

 .footer-contant {
     padding: 1rem;
     font-size: 1.4rem;
     display: flex;
     flex-direction: column;
 }

 .footer-info {
     width: 25rem;
 }

 .footer-contant .footer-logo {
     width: 15rem;
     height: 8rem;
     margin-bottom: 1.5rem;
 }

 .footer-contant .footer-logo img {
     width: 100%;
     height: 100%;
 }

 .footer-contant .footer-pera {
     margin-bottom: 1.5rem;
     line-height: 2.5rem;
 }

 .footer-contant .footer-social-icon {
     display: flex;
     justify-content: center;
     justify-content: space-between;
     font-size: 2.5rem;
     width: 20rem;
 }

 .footer-contant .s-icon {
     width: 4rem;
     height: 4rem;
     background-color: #4e4d4d;
     border-radius: 1rem;
     text-align: center;
     align-content: center;
     color: white;
 }

 .footer-contant .s-icon:hover {
     color: rgb(247, 56, 56);
 }

 .footer-contant h2 {
     white-space: nowrap;
     margin-bottom: 2.5rem;
     color: white;
 }

 .footer-contant a {
     opacity: 0.9;
     margin-bottom: 1.5rem;
 }

 .footer-contant a:hover {
     color: rgb(247, 56, 56);
 }

 .footer-bottom {
     text-align: center;
 }

 .footer-bottom h2 {
     font-size: 2.5rem;
     color: white;
     margin-bottom: 1rem;
 }

 .footer-bottom h2 span {
     color: #f39c12;
 }

 .footer-bottom p {
     font-size: 1.3rem;
     margin-top: 0.5rem;
 }

 .footer-bottom p a {
     text-decoration: underline;
     font-weight: 700;
 }

 .footer-services {
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin-bottom: 1.5rem;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
 }

 .service {
     display: flex;
     width: 100%;
     padding: 1rem 2rem;
     border-right: 0.1rem solid #dddddd5d;
 }

 .service i {
     font-size: 5rem;
     color: #667eea;
 }

 .service-contant {
     margin-left: 1.5rem;
     align-content: center
 }

 .service-contant h3 {
     font-size: 1.6rem;
 }

 .service-contant p {
     font-size: 1.2rem;
     opacity: 0.9;
 }